body {
  margin: 0;
  height: 100vh;
  background-color: #eee;
}
/* * {
border: 1px solid #333;
} */
.white {
  background-color: white;
}
.flex {
  display: flex;
}
.flex1 {
  flex: 1;
}
.flex3 {
  flex: 3;
}
.column {
  flex-direction: column;
}
.yinYing {
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}
.main {
  display: flex;
  flex: 1;
}
.shuJu {
  height: 100px;
  border-radius: 3px;
}
.lieBiaoXiang {
  height: 160px;
  border-radius: 5px;
}
.mg8 {
  margin: 8px;
}
.mgr8 {
  margin-right: 8px;
}
.mgl8 {
  margin-left: 8px;
}
.mgt8 {
  margin-top: 8px;
}
.daoHang {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4px;
  height: 50px;
  cursor: pointer;
  border-radius: 3px;
}
/*
以下（滚动条样式）部分内容来源 csdn by xcLeigh
https://blog.csdn.net/weixin_43151418/article/details/115693767
*/
.neiRong::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 5px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 3px;
}
.neiRong::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #535353;
}
.neiRong::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #ededed;
}
.top {
  align-items: center;
  justify-content: center;
}
.phone-top {
  align-items: center;
  justify-content: center;
  z-index: 2;
  height: 80px;
}
.phone-yiBiaoPan {
  border-radius: 10px;
  margin-right: 15px;
  margin-top: 20px;
}
/* .phone-yinYing-old {
  box-shadow: rgb(0 0 0 / 0%) 0px 2px 1px -10px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
} */
.phone-yinYing {
  box-shadow: 8px 8px 100px hsl(0deg 0% 0% / 0.08);
}
.mgr20 {
  margin-right: 20px;
}
.mgl20 {
  margin-left: 20px;
}
.phone-tongZhi {
  margin-top: 10px;
  height: 40px;
  border-radius: 10px;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 90%;
}
.phone-xinXi {
  border-radius: 10px;
  height: 230px;
}
.bottom {
  align-items: center;
  justify-content: center;
}
.xiaoXi {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  padding-left: 10px;
  align-items: center;
}
